<?xml version="1.0" encoding="UTF-8"?>
<!-- fatal > error > warn > info > debug > trace -->
<Configuration>
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss} [%thread] %-5level %logger - %msg%n" />
		</Console>
	</Appenders>
    <Loggers>
    	<!-- egov Logger -->
        <Logger name="egovframework.com" level="debug" />
        <!-- SQL Logger -->
		<Logger name="jdbc.audit" level="off" />
        <Logger name="jdbc.sqltiming" level="off" />
        <Logger name="jdbc.sqlonly" level="info" />
        <Logger name="jdbc.resultsettable" level="off" />
        <Logger name="jdbc.resultset" level="off" />
        <Logger name="jdbc.connection" level="warn" />
        <!-- spring Logger -->
        <Logger name="org" level="info" />
        <!-- Root Logger -->
        <Root level="debug">
            <AppenderRef ref="console" />
        </Root>
    </Loggers>
</Configuration>
